services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5000:5000"
    env_file: .env
    environment:
      - COSMOS_URI=${COSMOS_URI}
      - COSMOS_KEY=${COSMOS_KEY}
      - COSMOS_DBNAME=${COSMOS_DBNAME}

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://backend:5000
    depends_on:
      - backend
